<div class="d-flex justify-content-center">
  <h1 class="page_title">All Questions</h1>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <%= render 'index', question: @question %>
  </div>
  <%= paginate @questions %>
</div>