<div class="d-flex justify-content-center">
  <h1 class="page_title">Question Topic</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <%= render "info", question: @question %>
      <hr />
      <%= render "answers/new" %>
      <hr />
      <% if @best_answer %>
        <%= render "answers/best_answer" %>
      <% end %>
        <%= render "answers/index" %>
    </div>
  </div>
</div>