<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <%= render "info", question: @question %>
      <hr />
      <%= render "answers/new" %>
      <hr />
      <%= render "answers/index" %>
    </div>
  </div>
</div>