<h1>作品一覧</h1>
<% @works.each do |work| %>
  <div>
    <p><%= audio_tag(polymorphic_path(work.music_file), controls: true) %></p>
    <p>タイトル：<%= work.title %></p>
    <p>ユーザー名：<%= work.user.name %></p>
  </div>
<% end %>