<h1>作品一覧</h1>
<% @works.each do |work| %>
  <div>
    <%= link_to work_path(work.id) do %>
      <p>タイトル：<%= work.title %></p>
    <% end %>
    <p><%= image_tag work.user.get_profile_image(100, 100) %>ユーザー名：<%= work.user.name %></p>
  </div>
<% end %>