<ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#photo1" type="button">
      タブ1
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#photo2" type="button">タブ2</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#photo3" type="button">タブ3</button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#photo4" type="button">タブ4</button>
  </li>
</ul>
<div class="tab-content">
  <div id="photo1" class="tab-pane active">
    写真➀
  </div>
</div>
<div class="tab-content">
  <div id="photo2" class="tab-pane">
    写真➁
  </div>
</div>
<div class="tab-content">
  <div id="photo3" class="tab-pane">
    写真➂
  </div>
</div>
<div class="tab-content">
  <div id="photo4" class="tab-pane">
    写真➃
  </div>
</div>