<div class="d-flex justify-content-center">
  <h1 class="page_title">All Groups</h1>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <%= render 'index', group: @group %>
  </div>
  <%= paginate @groups %>
</div>