<div class="d-block">
  <%= image_tag @user.get_profile_image(100, 100), class: "mt-3 rounded-circle"; %>
  <h4><%= @user.name %></h4>
  <h4><%= @user.introduction %></h4>
  <% unless @user.guest_user? || @user != current_user %>
  <div>
    <%= link_to edit_user_path(@user), class: "text-dark" do %>
      <i class="fa-solid fa-gear border border-5 text-center rounded-pill w-100"></i>
    <% end %>
  </div>
  <% end %>
</div>