<div class="d-flex justify-content-center">
  <h1 class="page_title">All Users</h1>
</div>
<div class="container">
  <div class="row">
    <%= render 'index', user: @user %>
  </div>
  <%= paginate @users %>
</div>