<div class="container">
  <div class="row">
    <div class='col-lg-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
    </div>
    <div class="d-flex col-lg-8 offset-lg-1">
      <h3>投稿作品</h3>
      <% @works.each do |work| %>
        <div class="text-center text-truncate mb-5">
          <%= link_to work_path(work.id), class: "text-dark" do %>
            <striong><%= work.title %></strong>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>