<table class='table w-75 '>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.content %>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="bestAnswerRadio" id="bestAnswerRadio">
            <label class="form-check-label" for="bestAnswerRadio">
              Best Answer
            </label>
          </div>
        </td>
      </tr>
    <% end %>
    <% if @answer.is_best_answer == false %>
      <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
      <label class="btn btn-secondary" for="option1"><%= link_to "Best Select", question_best_path(@question, @answer) %></label>
    <% end %>
  </tbody>
</table>