<div class="d-flex justify-content-center">
  <h1 class="page_title">Let's try to "Layered Sense"</h1>
</div>
<div class="text-center mb-3">
  <h5 class="about__text mb-0">This is a place for creators to create.<br />
  <h5 class="about__text">Would you like to layer your sounds?</h5>
</div>
<div class="btn-wrapper col-3 mx-auto">
  <div class="row">
    <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
  </div>
  <div class="row">
    <%= link_to 'Sign Up',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
  </div>
</div>
<div class="bg-full">
  <img src="app/assets/images/luis-gherasim-o98XdqAEURI-unsplash.jpg">
</div>