@use '~bootstrap/scss/bootstrap';

body {
  background-image: url("../images/hoge.jpg");
}

.rounded-element {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
}

.tag_view {
  padding: 5px;
  background-color: #60f3c8;
}

.header_dropdown-toggle {
  color: white;
}

.text-light {
  padding: 10px;
}

.navbar-collapse {
  flex-grow: 0;
  align-items: center;
}

.margin-l-25 {
  margin-left: -25%;
}

.page_title {
  padding: 2% 0%;
}

.sub_text {
  color: #aaa;
  font-size: 80%;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}