@use '~bootstrap/scss/bootstrap';

body {
  background-image: url("../images/hoge.jpg");
}

.rounded-element {
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
}

.dropdown-toggle {
  color: white;
}

.text-light {
  padding: 10px;
}

.navbar-collapse {
  flex-grow: 0;
  align-items: center;
}

.margin-r-20 {
  margin-right: 20%;
}